#================================================
# gitignore
#================================================
/**/build/
/**/rtos/
/**/*.pdsbak
/**/*.ld
#================================================
# STM32CubeIDE
#================================================
/**/*.ioc
/**/*.d
/**/*.o
/**/*.su
/**/*.mk
/**/*.bin
/**/*.elf
/**/*.asm
/**/*.list
/**/*.map
/**/.cproject
/**/.mxproject
/**/.project
/**/*.pdsprj.*
/**/.metadata/
/**/.settings/
/**/Core/Inc/
/**/Core/Src/stm32f1xx*
/**/Core/Src/syscalls*
/**/Core/Src/sysmem*
/**/Core/Src/system*
/**/Core/Startup/
/**/Debug/makefile
/**/Drivers/
#================================================
