#================================================
# gitignore
#================================================
/**/build/
/**/rtos/
/**/*.pdsbak
/**/*.ld
#================================================
